$themes: (
  light: (
    backgroundColor: $white,
    textColor: $dark-grey,
    selectionBackground: $light-grey,
    selectionColor: $dark-grey,
    cardBackground: $light-grey2,
    cardBackgroundComm: $white,
    linkColor: $medium-grey,
    linkColorHover: $orange,
  ),
  dark: (
    backgroundColor: $dark-grey,
    textColor: $white,
    selectionBackground: $light-grey,
    selectionColor: $dark-grey,
    cardBackground: $grey-gradient,
    cardBackgroundComm: $medium-grey,
    linkColor: $light-grey,
    linkColorHover: $white,
  ),
);

.check-theme {
  appearance: none;
  width: 40px;
  height: 40px;
  background-image: url("./../assets/icons/night_icon.svg");
  filter: invert(100%);
}
.check-theme:checked {
  background-image: url("./../assets/icons/day_icon.svg");
  width: 50px;
  height: 50px;
  filter: invert(0);

  // animation: rotateMoon 3s forwards;
  // &::before {
  //   animation: rotateMoon 3s forwards;
  // }
  // &::after {
  //   animation: rotateMoon 3s forwards;
  // }
}

@keyframes rotateMoon {
  from {
    transform: rotate(30deg);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: rotate(0);
  }
}
