.project {
  display: flex;

  // gap: 3rem;
  width: 100%;
  align-self: center;
  justify-self: center;
  margin: 4rem 0;
}

.project__img {
  width: 50%;
  object-fit: cover;
  border-radius: 3px;
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.stack {
  display: flex;
  gap: 2em;
}
